<html lang="es-UY" >
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="UTF-8">
  <title>Neuro.ORG</title>

  <!-- Material Fonts -->
  <link rel="stylesheet" href="../bower_components/roboto-fontface/css/roboto/roboto-fontface.css">

  <!-- Angular Material style sheet -->
  <link rel="stylesheet" href="../bower_components/angular-material/angular-material.min.css">

  <!-- Angular Material requires Angular.js Libraries -->
  <script src="../bower_components/angular/angular.min.js"></script>
  <script src="../bower_components/angular-animate/angular-animate.min.js"></script>
  <script src="../bower_components/angular-aria/angular-aria.min.js"></script>
  <script src="../bower_components/angular-messages/angular-messages.min.js"></script>
  <script src="../bower_components/angular-cookies/angular-cookies.js"></script>

  <!-- Angular Material Library -->
  <script src="../bower_components/angular-material/angular-material.min.js"></script>

  <!-- Angular Avatar -->
  <script src="../bower_components/angular-mocks/angular-mocks.js"></script>
  <script src="../bower_components/angular-avatar/dist/angular-avatar.min.js"></script>

  <!-- Material Icons -->
  <link href="../bower_components/material-design-icons/iconfont/material-icons.css" rel="stylesheet">

  <!-- Animations -->
  <link rel="stylesheet" href="../bower_components/animate.css/animate.min.css">

  <!-- Forge -->
  <script src="../bower_components/forge/dist/forge.min.js"></script>

  <!-- Entropy -->
  <script src="../libs/entropy.min.js"></script>

  <!-- Chart.js & angular-chart.js -->
  <script src="../bower_components/chart.js/dist/Chart.min.js"></script>
  <script src="../bower_components/angular-chart.js/dist/angular-chart.min.js"></script>

  <!-- Moment.js -->
  <script src="../bower_components/moment/min/moment.min.js"></script>

  <script>
    require('electron-cookies');
  </script>

  <!-- Socket.io -->
  <script src="../node_modules/socket.io-client/dist/socket.io.min.js"></script>

  <!-- My own stylesheets -->
  <link rel="stylesheet" href="../css/main.css">
  <link rel="stylesheet" href="../css/hints.css">
</head>
<body ng-app="myApp" ng-controller="patientDialogCtrl" ng-cloak>
  <md-toolbar class="md-hue-2 md-whiteframe-4dp dialog-toolbar">
    <div class="md-toolbar-tools" ng-hide="editing">
      <ng-avatar string="{{ patient.name + ' ' + patient.last }}" bind="true" bg-color="#3E50B4" round-shape="true"></ng-avatar>
      <div layout="column" style="margin-left: 16px">
        <h4 class="md-title" style="margin-bottom: 0">{{ patient.last + ', ' + patient.name }}</h4>
        <h5 class="md-body-1" style="margin-top: 0">{{ patient.id.charAt(0) + '.' + patient.id.substring(1, 4) + '.' + patient.id.substring(4, 7) + '-' + patient.id.slice(-1) }}</h5>
      </div>
      <span flex></span>

      <md-menu md-position-mode="target-right target" ng-if="me.type === 'surgeon'">
        <md-button class="md-icon-button" style="-webkit-app-region: no-drag" aria-label="More" ng-click="$mdMenu.open()">
          <md-icon md-font-set="material-icons md-dark" md-menu-origin>more_vert</md-icon>
        </md-button>

        <md-menu-content width="2">
          <md-menu-item>
            <md-button style="-webkit-app-region: no-drag" ng-click="editClick()"><span md-menu-align-target>Editar</span></md-button>
          </md-menu-item>
        </md-menu-content>
      </md-menu>

      <md-button class="md-icon-button" style="-webkit-app-region: no-drag" ng-click="closeClick()">
        <md-icon md-font-set="material-icons md-dark">close</md-icon>
      </md-button>
    </div>

    <div class="md-tool-bar-tools" style="margin-left: 16px" ng-if="editing">
      <h4 class="md-title">Editando paciente</h4>
    </div>
  </md-toolbar>

  <div ng-hide="editing" class="dialog-content" style="margin-top: 45px">
    <div class="md-dialog-content">
      <md-list flex>
        <md-subheader class="md-no-sticky">Información personal</md-subheader>
        <md-list-item class="md-2-line" ng-click="null">
          <div class="md-list-item-text" layout="row">
            <md-icon md-font-set="material-icons md-dark">cake</md-icon>
            <h3 class="list-item-text">Fecha de nacimiento</h3>
            <span flex></span>
            <h3>{{ patient.birthdate.getDate() + '/' + (patient.birthdate.getMonth() + 1) + '/' + patient.birthdate.getFullYear() }}</h3>
          </div>
        </md-list-item>
        <md-list-item class="md-2-line" ng-click="null">
          <div class="md-list-item-text" layout="row">
            <md-icon md-font-set="material-icons md-dark">transfer_within_a_station</md-icon>
            <h3 class="list-item-text">Primer consulta</h3>
            <span flex></span>
            <h3>{{ patient.first.getDate() + '/' + (patient.first.getMonth() + 1) + '/' + patient.first.getFullYear() }}</h3>
          </div>
        </md-list-item>
        <md-list-item class="md-2-line" ng-click="null">
          <div class="md-list-item-text" layout="row">
            <md-icon md-font-set="material-icons md-dark">local_hospital</md-icon>
            <h3 class="list-item-text">Médico tratante</h3>
            <span flex></span>
            <h3>{{ patient.surgeon.last + ', ' + patient.surgeon.name }}</h3>
          </div>
        </md-list-item>

        <md-subheader class="md-no-sticky" ng-if="surgeries.length > 0">Cirugías</md-subheader>
        <md-list-item class="md-2-line" ng-repeat="surgery in surgeries | orderBy: 'scheduled'" ng-click="surgeryClick(surgery)">
          <div class="md-list-item-text list-item-text" layout="row">
            <div layout="column">
              <h3>{{ surgery.type }}</h3>
              <p ng-if="surgery.scheduled !== null">{{ surgery.scheduled.getDate() + '/' + (surgery.scheduled.getMonth() + 1) + '/' + surgery.scheduled.getFullYear() }}</p>
            </div>

            <span flex></span>

            <div layout="row" layout-align="center center" style="margin-right: 24px">
              <md-icon md-font-set="material-icons md-dark" ng-if="!surgery.done && surgery.preop_valid !== null && surgery.anesthetist !== null">thumb_up</md-icon>
              <md-icon md-font-set="material-icons md-dark" ng-if="!surgery.done && surgery.alert">error</md-icon>
              <md-icon md-font-set="material-icons md-dark" ng-if="surgery.done">check_circle</md-icon>
            </div>
          </div>
        </md-list-item>

        <md-subheader class="md-no-sticky" ng-if="patient.background.length > 0">Antecedentes</md-subheader>
        <md-list-item class="md-3-line md-long-text" ng-if="patient.background.length > 0">
          <div class="md-list-item-text">
            <p>{{ patient.background }}</p>
          </div>
        </md-list-item>
      </md-list>
    </div>
  </div>

  <div ng-if="editing" class="dialog-content" style="margin-top: 110px">
    <div class="md-dialog-content">
      <form ng-cloak>
        <md-input-container class="md-block" flex>
          <label>CI</label>
          <input ng-model="patient.id"
                 md-minlength="8"
                 md-maxlength="8"
                 ng-disabled="canGoBackToNotEditing"
                 required>
        </md-input-container>

        <div layout="row" class="md-block" flex>
          <md-input-container class="md-block" flex>
            <label>Nombre</label>
            <input ng-model="patient.name" md-maxlength="35" required>
          </md-input-container>

          <span flex="5"></span>

          <md-input-container class="md-block" flex>
            <label>Apellido</label>
            <input ng-model="patient.last" md-maxlength="35" required>
          </md-input-container>
        </div>

        <div layout="row" flex>
          <md-input-container>
            <label>Nacimiento</label>
            <md-datepicker class="md-block" ng-model="patient.birthdate" required></md-datepicker>
          </md-input-container>

          <span flex></span>

          <md-input-container>
            <label>Primer consulta</label>
            <md-datepicker class="md-block" ng-model="patient.first" required></md-datepicker>
          </md-input-container>

          <span flex="5"></span>
        </div>

        <md-input-container class="md-block" flex>
          <label>Médico tratante</label>
          <md-select ng-model="patient.surgeon" required>
            <md-option ng-repeat="surgeon in surgeons" ng-value="surgeon">
              {{ surgeon.last + ', ' + surgeon.name }}
            </md-option>
          </md-select>
        </md-input-container>

        <md-input-container class="md-block">
          <label>Antecedentes</label>
          <textarea ng-model="patient.background" md-maxlength="256" rows="5" md-select-on-focus></textarea>
        </md-input-container>
      </form>
    </div>
  </div>

  <div layout="row" ng-if="editing" class="dialog-footer">
    <span flex></span>
    <md-button class="md-primary" ng-click="cancelClick()">Cancelar</md-button>
    <md-button class="md-primary" ng-click="saveClick()">Guardar</md-button>
  </div>

  <!-- Your application bootstrap  -->
  <script type="text/javascript" src="../angular/app.js"></script>
  <script type="text/javascript" src="../angular/dialog-ctrl/patient-dialog.js"></script>
  <script type="text/javascript" src="../data_model/base.js"></script>
  <script type="text/javascript" src="../data_model/patient.js"></script>
  <script type="text/javascript" src="../data_model/surgery.js"></script>
  <script type="text/javascript" src="../data_model/user.js"></script>
  <!--<script type="text/javascript" src="electron/menu.js"></script>-->
</body>
</html>
