<html lang="es-UY" >
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="UTF-8">
  <title>Neuro.ORG</title>

  <!-- Material Fonts -->
  <link rel="stylesheet" href="../bower_components/roboto-fontface/css/roboto/roboto-fontface.css">

  <!-- Angular Material style sheet -->
  <link rel="stylesheet" href="../bower_components/angular-material/angular-material.min.css">

  <!-- Angular Material requires Angular.js Libraries -->
  <script src="../bower_components/angular/angular.min.js"></script>
  <script src="../bower_components/angular-animate/angular-animate.min.js"></script>
  <script src="../bower_components/angular-aria/angular-aria.min.js"></script>
  <script src="../bower_components/angular-messages/angular-messages.min.js"></script>
  <script src="../bower_components/angular-cookies/angular-cookies.js"></script>

  <!-- Angular Material Library -->
  <script src="../bower_components/angular-material/angular-material.min.js"></script>

  <!-- Angular Avatar -->
  <script src="../bower_components/angular-mocks/angular-mocks.js"></script>
  <script src="../bower_components/angular-avatar/dist/angular-avatar.min.js"></script>

  <!-- Material Icons -->
  <link href="../bower_components/material-design-icons/iconfont/material-icons.css" rel="stylesheet">

  <!-- Animations -->
  <link rel="stylesheet" href="../bower_components/animate.css/animate.min.css">

  <!-- Forge -->
  <script src="../bower_components/forge/dist/forge.min.js"></script>

  <!-- Entropy -->
  <script src="../libs/entropy.min.js"></script>

  <!-- Chart.js & angular-chart.js -->
  <script src="../bower_components/chart.js/dist/Chart.min.js"></script>
  <script src="../bower_components/angular-chart.js/dist/angular-chart.min.js"></script>

  <!-- Moment.js -->
  <script src="../bower_components/moment/min/moment.min.js"></script>

  <script>
    require('electron-cookies');
  </script>

  <!-- Socket.io -->
  <script src="../node_modules/socket.io-client/dist/socket.io.min.js"></script>

  <!-- My own stylesheets -->
  <link rel="stylesheet" href="../css/main.css">
  <link rel="stylesheet" href="../css/hints.css">
</head>
<body ng-app="myApp" ng-controller="userModDialogCtrl" ng-cloak>
  <md-toolbar class="md-hue-2 md-whiteframe-4dp dialog-toolbar">
    <div class="md-tool-bar-tools" ng-if="email" style="margin-left: 16px">
      <h4 class="md-title">Cambiar email</h4>
    </div>

    <div class="md-tool-bar-tools" ng-hide="email" style="margin-left: 16px">
      <h4 class="md-title">Cambiar contraseña</h4>
    </div>
  </md-toolbar>

  <div class="dialog-content" style="margin-top: 80px">
    <div class="md-dialog-content" ng-if="email">
      <form name="changeMail" layout="column" ng-cloak>
        <md-input-container flex>
          <label>Nuevo email</label>
          <input name="mail"
                 type="email"
                 ng-model="input.mail"
                 my-enter="saveClick()">
        </md-input-container>
      </form>
    </div>

    <div class="md-dialog-content" ng-hide="email">
      <form name="changePass" layout="column" ng-cloak>
        <md-input-container flex>
          <label>Vieja contraseña</label>
          <input name="oldPass"
                 type="password"
                 ng-model="input.oldPass"
                 my-enter="saveClick()">
        </md-input-container>

        <span flex="5"></span>

        <md-input-container flex>
          <label>Nueva contraseña</label>
          <input name="passOne"
                 type="password"
                 ng-model="input.passOne"
                 my-enter="saveClick()">

          <md-progress-linear md-mode="determinate"
                              value="{{entropy}}"
                              ng-class="entropyLevelClass"></md-progress-linear>
        </md-input-container>

        <span flex="10"></span>

        <md-input-container flex>
          <label>Repetir nueva contraseña</label>
          <input name="passTwo"
                 type="password"
                 ng-model="input.passTwo"
                 compare-to="input.passOne"
                 my-enter="saveClick()">

          <div ng-messages="resetForm.passTwo.$error">
            <div ng-message="compareTo" class="md-caption">Las contraseñas no coinciden</div>
          </div>
        </md-input-container>
      </form>
    </div>
  </div>

  <div layout="row" class="dialog-footer">
    <span flex></span>
    <md-button class="md-primary" ng-click="cancelClick()">Cancelar</md-button>
    <md-button class="md-primary" ng-click="saveClick()">Guardar</md-button>
  </div>

  <!-- Your application bootstrap  -->
  <script type="text/javascript" src="../angular/app.js"></script>
  <script type="text/javascript" src="../angular/dialog-ctrl/user-mod-dialog.js"></script>
  <!--<script type="text/javascript" src="electron/menu.js"></script>-->
</body>
</html>
